{% load crispy_forms_filters %}
{% load tailwind_filters %}
{% load l10n %}

<div class="relative">
    <select class="select {% if field.errors %}select-error {% endif %} w-full" name="{{ field.html_name }}" {{ field|build_attrs }}>
        {% for group, options, index in field|optgroups %}
            {% if group %}<optgroup label="{{ group }}">{% endif %}
            {% for option in options %}
                {% include "tailwind/layout/select_option.html" %}
            {% endfor %}
            {% if group %}</optgroup>{% endif %}
        {% endfor %}
    </select>

</div>
