{% load crispy_forms_tags %}


<div class="flex items-center justify-center bg-gradient-to-br bg-fox-bg py-12 px-4">
    <div class="max-w-md w-full">
        {% include 'core/partials/heading.html' with text=heading %}
        <p class="text-center text-gray-400 mb-6 text-sm md:text-base font-light leading-tight max-w-md mx-auto">
            {% include 'core/partials/subtitle.html' with text=subtitle %}
        </p>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {{ form | crispy }}

            {% include 'core/partials/button.html' with text=button_text %}
        </form>

    </div>
</div>