<div class="hidden md:flex w-64 bg-box-bg text-white flex-col justify-between border-r border-gray-700 h-full"
        id="sidebar">
        <div class="flex flex-col h-screen">
            <nav class="mt-4">
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Dashboard</a>
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Sites</a>
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Forms</a>
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Page Views</a>
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Events</a>
                <a href="#" class="flex items-center px-4 py-2 hover:bg-box-alt-hover rounded-lg m-2">Reports</a>
            </nav>
        </div>
    </div>