{% extends 'base.html' %}
{% block title %}
Create a Form
{% endblock %}

{% block content %}
<div class="flex items-center justify-between">

    <h1 class="text-3xl font-semibold text-white mb-2">
        Edit a Form
    </h1>
    <a href="{% url 'forms:list' %}" class="btn btn-sm">
        &leftarrow; Back to Forms List
    </a>
</div>
<p class="text-sm text-gray-400 mb-8">
    Edit the details of your form. You can change the name, and other settings.
</p>
{% include 'core/partials/dashboard_tab.html' with active_tab="forms" %}
{% include 'core/partials/create_form.html' with form=form button_text="Create" %}

{% endblock content %}