{% extends 'base.html' %}
{% load bulma_tags %}
{% block title %}
Edit a Form
{% endblock %}

{% block content %}
<div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
    <div>

        <h3 class="title is-3 has-text-weight-bold text-white mb-2">
            Edit a Form
        </h3>
        <p class="subtitle text-gray-400 mb-5">
            Edit the details of your form. You can change the name, and other settings.
        </p>
    </div>
    <a href="{% url 'forms:list' %}" class="button is-light is-small">
        &leftarrow; Back to Forms List
    </a>
</div>
{% include 'core/islands/tab.html' with active_tab="forms" %}
{% include 'core/islands/form.html' with form=form button_text="Save" %}

{% if style_form %}
<div class="mt-8">
    <h2 class="text-2xl font-semibold text-white mb-4">Form Style</h2>
    <form method="post" action="{% url 'forms:style_update' form_obj.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ style_form.media }}
        {{ style_form | bulma }}
        <button class="button is-light" type="submit">Update Style</button>
    </form>
</div>
{% endif %}
{% endblock content %}