{% extends "base.html" %}
{% block title %}Forms{% endblock %}

{% block content %}
<div class="level mb-4">
  <div class="level-left">
    <h3 class="title is-3 ">Your Forms ({{ current_team.forms.count }}/{{ max_forms }})</h3>
  </div>
  <div class="level-right">
    <a href="{% url 'forms:create' %}" class="button is-light is-small">+ Create New Form</a>
  </div>
</div>

<p class="subtitle  mb-5">
  Manage all forms created by your team.
</p>

{% include 'core/islands/tab.html' with active_tab="forms" %}

{% if forms %}
<div class="columns is-multiline">
  {% for form in forms %}
  <div class="column is-12">
    <div class="box">
      <div class="level is-mobile mb-2">
        <div class="level-left">
          <div>
            <a href="{% url 'forms:builder' form.slug %}" class="is-size-5 has-text-weight-medium hover-underline">
              {{ form.name }}
            </a>
            <div class="is-flex is-align-items-center mt-1">
              <a href="{% url 'public_forms:public' form.slug %}" hx-boost="false">
                <span class="is-size-7 is-monospace ">/{{ form.slug }}</span>
              </a>
              <button class="button is-small is-text ml-2 px-2 py-0"
                x-on:click="navigator.clipboard.writeText('{{ request.build_absolute_uri }}{{ form.get_absolute_url }}')">
                📋
              </button>
            </div>
          </div>
        </div>
        <div class="level-right">
          {% if form.is_active %}
          <span class="tag is-success is-size-7">Active</span>
          {% else %}
          <span class="tag is-danger is-size-7">Inactive</span>
          {% endif %}
        </div>
      </div>

      <div class="is-flex is-justify-content-space-between is-size-7  mb-3">
        <span>Created: {{ form.created_at|date:"M j, Y" }}</span>
        <span>
          <a href="{% url 'forms:submission_list' form.slug %}" class="">
            {{ form.submissions.count|default:"0" }} Submissions
          </a>
        </span>
      </div>

      <div class="buttons are-small">
        <a href="{% url 'forms:edit' form.slug %}" class="button is-light">Edit Info</a>
        <a href="{% url 'forms:schema' form.slug %}" hx-boost="false" class="button">View Schema</a>
        {% if form.is_locked %}
        <span class="tag is-warning is-light">Frozen</span>
        {% else %}
        <a href="{% url 'forms:builder' form.slug %}" class="button">Edit Builder</a>
        
        {% if form.allow_analytics %}
        <a href="{% url 'analytics:sites_details' form.site.site_id %}" class="button">View Analytics</a>
        
        {% endif %}
          
        <a href="{% url 'forms:freeze' form.slug %}" class="button">Freeze</a>
        {% endif %}
        <a href="{% url 'forms:delete' form.slug %}" class="button">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="has-text-centered py-6 ">
  <p class="is-size-5">You haven’t created any forms yet.</p>
  <a href="{% url 'forms:create' %}" class="button mt-4 is-light">Create Your First Form</a>
</div>
{% endif %}
{% endblock %}
