{% extends "forms/base_public.html" %}

{% block title %}{{ form_obj.name }}{% endblock %}

{% block style %}
{% include 'forms/partials/public_style.html' %}
{% endblock style %}


{% block content %}
<main class="container">
  
  {% if form_obj.style.logo %}
    <div class="logo">
      <img src="{{ form_obj.style.logo.url }}" alt="Logo">
    </div>
  {% endif %}

  <h1>{{ form_obj.name }}</h1>
  <p>{{ form_obj.description }}</p>

  <form method="post" action="{% url 'public_forms:submit' form_obj.slug %}">
    {% csrf_token %}
    {{ form }}
    
    {% if form_obj.allow_analytics %}
      <input type="hidden" name="site_id" value="{{ form_obj.site_id }}">
    {% endif %}
      
    <button class="button" type="submit">{{ form_obj.button_text }}</button>
  </form>

</main>

{% if form_obj.allow_analytics %}
  <script src='http://localhost:8000/pf.js' data-site='{{ form_obj.site_id }}' defer></script>
{% endif %}
  
{% endblock %}
