{% extends 'base.html' %}
{% block title %}
Activate your account
{% endblock %}
{% block content %}
{% include 'core/partials/create_form.html' with heading="Activate Your Account" subtitle="Please enter the activation code sent to your email to activate your account." form=form button_text="Activate" %}

<p class="mt-6 text-center text-sm text-gray-400">
            Need help?
            <a href="" class="font-medium fox-orange-text hover:underline">
                Contact Support 
            </a>
        </p>
{% endblock content %}
