{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gradient-to-br bg-fox-bg py-12 px-4">
    <div class="max-w-md w-full">
        <h2 class="mb-6 text-center text-3xl text-white fox-orange-text">Create an account</h2>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {{ form }}

            <div>
                <button type="submit"
                    class="w-full flex justify-center py-2 px-4 border border-transparent  shadow-sm text-white bg-fox-orange hover:bg-fox-orange-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-fox-orange font-semibold transition">
                    Sign up
                </button>
            </div>
        </form>
        <p class="mt-6 text-center text-sm text-gray-400">
            Already have an account?
            <a href="{% url 'accounts:login' %}" class="font-medium fox-orange-text hover:underline">Login</a>
        </p>
    </div>
</div>
{% endblock content %}