{% extends 'base.html' %}
{% block title %}
Register
{% endblock %}

{% block content %}
{% include 'core/partials/create_form.html' with heading="Create an account" subtitle="Enter the basic info to get started" form=form button_text="Sign Up" %}
<div class="mt-6 flex items-center justify-center">
    <span class="text-gray-400 text-sm">or</span>
    <a href="" class="ml-2 text-sm text-fox-orange hover:underline">Sign up with GitHub</a>

</div>
<p class="mt-6 text-center text-sm text-gray-400">
    Already have an account?
    <a href="{% url 'accounts:login' %}" class="font-medium fox-orange-text hover:underline">Login</a>
</p>
{% endblock content %}