{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create a team{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gradient-to-br bg-fox-bg py-12 px-4">
    <div class="max-w-md w-full">
        <h2 class="mb-6 text-center text-3xl text-white fox-orange-text">Create a team</h2>
        <p class="text-center text-gray-400 mb-6 text-sm md:text-base font-light leading-tight max-w-md mx-auto">Enter the basic info to get started</p>
        <form method="post" class="space-y-6">
            {% csrf_token %}
            {{ form | crispy }}
            <div>
                <button type="submit"
                    class="w-full btn btn-primary">
                    Create Team 
                </button>
            </div>
        </form>
        
    </div>
</div>
{% endblock content %}