<div class="tabs is-large mb-6">
  <ul>
    <li class="{% if active_tab == 'analytics' %}is-active{% endif %}">
      <a href="{% url 'analytics:index' %}">
        <span class="has-text-weight-semibold">Analytics</span>
      </a>
    </li>

    <li class="{% if active_tab == 'forms' %}is-active{% endif %}">
      <a href="{% url 'forms:index' %}">
        <span class="has-text-weight-semibold">Forms</span>
      </a>
    </li>

    <li class="{% if active_tab == 'teams' %}is-active{% endif %}">
      <a href="{% url 'accounts:teams_list' %}">
        <span class="has-text-weight-semibold">Teams</span>
      </a>
    </li>

    <li class="{% if active_tab == 'accounts' %}is-active{% endif %}">
      <a href="{% url 'accounts:index' %}">
        <span class="has-text-weight-semibold">Accounts</span>
      </a>
    </li>
  </ul>
</div>
