{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="PingFox">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'htmx.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'bulma/output.css' %}">
    <!-- <script src="{% static 'unpoly/unpoly.min.js' %}"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'unpoly/unpoly.min.css' %}"> -->
    <script src="{{ PINGFOX_JS_SRC_URL }}" data-site='{{ PINGFOX_SITE_ID }}' defer></script>

    {% include 'core/partials/favicon.html' %}

    <title>
        {% block title %}

        {% endblock title %} - PingFox
    </title>
</head>

<body hx-boost="true">

    {% include 'core/partials/loader.html' %}
    {% include 'core/islands/navbar.html' %}
    <main class="container" up-main>
        <section class="section">
            {% include 'core/partials/messages.html' %}
            {% block content %}{% endblock %}
        </section>
    </main>
</body>

<script src="{% static 'sortable.js' %}"></script>
<script src="{% static 'alpine.min.js' %}"></script>

<script>
  document.body.addEventListener('htmx:afterSwap', () => {
    // Re-initialize Alpine
    if (window.Alpine) Alpine.initTree(document.body);
  });
</script>

</body>


</html>