{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="PingFox">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'build.css' %}">
    <script src="{% static 'htmx.min.js' %}"></script>
    {% include 'core/partials/favicon.html' %}

    <title>
        {% block title %}

        {% endblock title %} - PingFox
    </title>
</head>

<body class="bg-fox-bg text-fox-text min-h-screen" hx-boost="true">
    {% include 'core/partials/loader.html' %}
    {% include 'core/partials/navbar.html' %}
    {% include 'core/partials/messages.html' %}
    {% block content %}

    {% endblock content %}

</body>

</html>