{% extends 'base.html' %}

{% block title %}
Edit a Form
{% endblock %}

{% block content %}
<div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
    <div>
        <h1 class="title is-3">
            Edit the Team
        </h1>
        <p class="subtitle text-gray-400">
            Edit the details of your team. You can change the name, and other settings.
        </p>
    </div>
    <a href="{% url 'accounts:teams_list' %}" class="button is-light is-small">
        Back to Teams List
    </a>
</div>
{% include 'core/islands/tab.html' with active_tab="teams" %}
{% include 'core/islands/form_file.html' with form=form button_text="Save" %}

{% endblock content %}