{% extends "base.html" %}
{% load static %}
{% block title %}My Teams{% endblock %}

{% block content %}
<div class="is-flex is-justify-content-space-between is-align-items-center mb-4">
  <div>
    <h1 class="title is-3">Your Teams</h1>
  </div>
  <a href="{% url 'accounts:teams_create' %}" class="button is-light is-small">+ Create New Team</a>
</div>

<p class="subtitle mb-5">
  Manage your teams, switch between them, or create a new one to collaborate with your members.
</p>

{% include 'core/islands/tab.html' with active_tab="teams" %}

<div class="columns is-multiline">
  {% for team in teams %}
    <div class="column is-12-tablet is-6-desktop">
      {% include 'teams/islands/teams_grid.html' %}
    </div>
  {% endfor %}
</div>
{% endblock %}
