/* General Layout */
body {
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border-radius: 0.75rem;
  /* center this */
  margin: auto;
  margin-top: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;


}


/* Heading */
h1,
h2,
h3 {
  color: var(--text-color, #000000);
  margin-bottom: 0.5em;
  line-height: 1.2;
}

/* Form */
/* form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
} */

form {
  display: flex;
  flex-direction: column;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: #424242 1px solid;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

label {
  font-weight: 600;
  margin-bottom: 0.25rem;
  display: block;
}

/* Buttons */
.button,
button[type="submit"] {
  background-color: var(--button-color, #f97316);
  color: var(--button-text-color, #ffffff);
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover,
button[type="submit"]:hover {
  filter: brightness(90%);
}

/* Accessibility */
:focus {
  outline: 2px solid var(--accent-color, #f97316);
  outline-offset: 2px;
}

/* Responsive */
@media (max-width: 600px) {
  .container {
    padding: 0.5rem;
  }

  input,
  textarea,
  select {
    font-size: 1rem;
  }
}

.helptext {
  font-size: 0.875rem;
  color: var(--text-color, #000000);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.logo>img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}